* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  background-color: #bdd4d6;
  color: rgb(var(--foreground-rgb));
} */

body {
  background-color: #0f102b;
  background-image: url("bgimg2.png");
}